SYNC_FILES=(
  ".env"
  "docker/caddy/Caddyfile"
  "docker/unbound/unbound.conf"
  "docker/unbound/root.hints"
  "docker/glance/config/glance.yml"
  "Caddy.Dockerfile"
  "compose.yml"
  "README.md"
)
