{
    admin 0.0.0.0:2019
}

*.local.wywiol.eu {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
        propagation_delay 2m
        resolvers 1.1.1.1
    }

    @portainer host portainer.local.wywiol.eu
    handle @portainer {
        reverse_proxy https://portainer:9443 {
            transport http {
                tls
                tls_insecure_skip_verify
            }
        }
    }

    @pihole host pihole.local.wywiol.eu
    handle @pihole {
        reverse_proxy https://pihole:443 {
            transport http {
                tls
                tls_insecure_skip_verify
            }
        }
    }

    @home host home.local.wywiol.eu
    handle @home {
        reverse_proxy http://glance:8080
    }

    @searxng host searxng.local.wywiol.eu
    handle @searxng {
        reverse_proxy http://gluetun:8080
    }

    @glitchtip host glitchtip.local.wywiol.eu
    handle @glitchtip {
        reverse_proxy 192.168.0.105:8000
    }

    @passbolt host passbolt.local.wywiol.eu
    handle @passbolt {
        reverse_proxy 192.168.0.108:80
    }

    @proxmox host proxmox.local.wywiol.eu
    handle @proxmox {
        reverse_proxy https://192.168.0.200:8006 {
            transport http {
                tls
                tls_insecure_skip_verify
            }
        }
    }

    @retro host retro.local.wywiol.eu
    handle @retro {
        reverse_proxy 192.168.0.111:80
    }

    @sitespeed host sitespeed.local.wywiol.eu
    handle @sitespeed {
        reverse_proxy 192.168.0.107:3000
    }

    @wakapi host wakapi.local.wywiol.eu
    handle @wakapi {
        reverse_proxy 192.168.0.104:3000
    }
}
