SYNC_FILES=(
  ".env"
  "docker/caddy/Caddyfile"
  "docker/caddy/index.html"
  "docker/grafana/dashboards/"
  "docker/grafana/datasources/"
  "k6-scripts/"
  "Caddy.Dockerfile"
  "compose.yml"
  "README.md"
  "Makefile"
)
