SYNC_FILES=(
  ".env"
  "docker/caddy/Caddyfile"
  "docker/caddy/index.html"
  "docker/grafana/provisioning/dashboards/"
  "docker/grafana/provisioning/datasources/"
  "xk6/scripts/"
  "Caddy.Dockerfile"
  "compose.yml"
  "README.md"
  "Makefile"
)
