{
    admin 0.0.0.0:2019
}

*.bimago.local.wywiol.eu {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
        propagation_delay 2m
        resolvers 1.1.1.1
    }

    @portainer host portainer.bimago.local.wywiol.eu
    handle @portainer {
        reverse_proxy https://portainer:9443 {
            transport http {
                tls
                tls_insecure_skip_verify
            }
        }
    }

    @redis host redis.bimago.local.wywiol.eu
    handle @redis {
        reverse_proxy http://redis-stack:8001
    }

    @cms host cms.bimago.local.wywiol.eu
    handle @cms {
        reverse_proxy 192.168.0.50:3000
    }

    @pl host pl.bimago.local.wywiol.eu, fr.bimago.local.wywiol.eu, gb.bimago.local.wywiol.eu, es.bimago.local.wywiol.eu, it.bimago.local.wywiol.eu, se.bimago.local.wywiol.eu, pt.bimago.local.wywiol.eu, nl.bimago.local.wywiol.eu, at.bimago.local.wywiol.eu, art.bimago.local.wywiol.eu, cz.bimago.local.wywiol.eu, com.bimago.local.wywiol.eu
    handle @pl {
        reverse_proxy 192.168.0.50:4200
    }
}
