{
    admin 0.0.0.0:2019
}

*.dev.local.wywiol.eu {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
        propagation_delay 2m
        resolvers 1.1.1.1
    }

    @portainer host portainer.dev.local.wywiol.eu
    handle @portainer {
        reverse_proxy https://portainer:9443 {
            transport http {
                tls
                tls_insecure_skip_verify
            }
        }
    }

    @grafana host grafana.dev.local.wywiol.eu
    handle @grafana {
        reverse_proxy http://grafana:3000
    }

    @influxdb host influxdb.dev.local.wywiol.eu
    handle @influxdb {
        reverse_proxy http://influxdb:8086
    }

    @redis host redis.dev.local.wywiol.eu
    handle @redis {
        reverse_proxy http://redis:8001
    }

    @mongo host mongo.dev.local.wywiol.eu
    handle @mongo {
        reverse_proxy http://mongo-express:8081
    }

    @k6 host k6.dev.local.wywiol.eu
    handle @k6 {
        root * /usr/share/caddy/k6/dashboards
        file_server browse
    }

    @glitchtip host glitchtip.dev.local.wywiol.eu
    handle @glitchtip {
        reverse_proxy http://glitchtip-web:8000
    }

    @wakapi host wakapi.dev.local.wywiol.eu
    handle @wakapi {
        reverse_proxy http://wakapi:3000
    }
}

*.bimago.local.wywiol.eu {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
        propagation_delay 2m
        resolvers 1.1.1.1
    }

    @cms host cms.bimago.local.wywiol.eu
    handle @cms {
        reverse_proxy 192.168.0.50:3000
    }

    @pl host pl.bimago.local.wywiol.eu
    handle @pl {
        reverse_proxy 192.168.0.50:4200
    }
}
